// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body, html, #root {
    height: 100%;
}

body {
    font-family: 'Strait', sans-serif;
    background-color: #0b0a15;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 992px) {
    .navbar .container {
        max-width: 1260px !important;
    }
}

.navbar p {
    display: inline-block;
    margin: 0;
    line-height: 21px;
    font-weight: inherit;
    font-size: inherit;
    margin-left: 0.5rem;
}

.navbar {
    z-index: 10;
}

.collapse {
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    background: none;
}

.collapse.show {
    background-color: #0b0a15;
}

.nav-item {
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.3rem 0.5rem;
    line-height: 1.625rem;
    text-align: center;
}

.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 18px;
    text-align: center;
}

.navbar a {
    display: inline;
}

.logo {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 30%;
    max-width: 70%;
}


#tsparticles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

footer a {
    -moz-transition: color 0.2s ease,
        background-color 0.2s ease,
        border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease,
        background-color 0.2s ease,
        border-bottom-color 0.2s ease;
    -ms-transition: color 0.2s ease,
        background-color 0.2s ease,
        border-bottom-color 0.2s ease;
    transition: color 0.2s ease,
        background-color 0.2s ease,
        border-bottom-color 0.2s ease;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    border-bottom-color: transparent;
    color: inherit;
    text-decoration: none;
}